@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0d192c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: clamp(16px, 4vw, 24px);
  margin: 0;
}

#root {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
